.app {
    display: flex;
    gap: 30px;
}

.counterWrapper {
    border: 2px solid #61dafb;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 200px;
}

.buttonsWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.counterSubWrapper {
    border: 2px solid #61dafb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    gap: 20px;
    min-height: 80px;
    height: 200px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #282c34;
    font-weight: 600;
    font-size: 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.counter {
    font-size: 20px;
    color: #fff;
}

.disabledButton {
    background-color: grey;
    opacity: .5;
}

.erroredInput {
    background-color: #efa9a9;
    border: 1px solid red;
}

.disabledCounter {
    color: darkred;
}

.label {
    font-size: 18px;
    font-weight: 600;
    color: #61dafb;
    margin-right: 10px;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 200px;
}

.input {
    width: 80px;
    height: 20px;
    text-align: center;
}

.buttonsWrapper {
    margin: 20px;
}

.error {
    color: red;
    font-size: 16px;
}

.message {
    color: #61dafb;
    font-size: 16px;
}