.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 20px 20px;
    margin: 0 auto;
    width: 70%
}

.title {
    color: #76ecfa;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: .3rem;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 70px;
}

.block {
    margin-bottom: 100px;
}
.blockBorder {
    border-top: 1px solid #76ecfa;
    border-bottom: 1px solid #76ecfa;
    padding: 40px;
}

.blockTitle {
    color: #fff;
    font-family: monospace;
    font-weight: 800;
    letter-spacing: .3rem;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
}

.blockWrapper {
    padding: 20px;
    background-color: #0A1929FF;
    border-radius: 20px;
    color: #fff;
    border: 2px solid #76ecfa;
}
/*----------------------------------------------Flex-container-------------------------------------------------*/
.blockFlex {
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: center;
    color: #fff;
    padding: 20px;
    flex-wrap: wrap;
}
/*----------------------------------------------Skills-------------------------------------------------------*/
.blockCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #76ecfa;
    padding: 20px;
    flex: 1 1 auto;
    min-height: 100px;
    min-width: 170px;
    width: 200px;
}
.blockCardPicture {
    height: 120px;
    width: 200px;
    max-height: 200px;
    max-width: 300px;
}

.blockCardsSections {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blockCardsSectionsHeader {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: monospace;
}

/*-----------------------------------------------Logos----------------------------------------------*/
/*react logo*/
.blockLogoReact {
    width: 150px;
    height: 150px;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/**/
/*redux logo*/
.blockLogoRedux {
    width: 150px;
    height: 150px;
    pointer-events: none;
    animation: App-logo-float infinite 3s ease-in-out;
}
@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}
/**/

.blockCardsRow {
    display: flex;
    gap: 20px;
}
.blockCardsRow:first-child {
    margin-bottom: 30px;
}

/*-----------------------------------------------Hire Me----------------------------------------------*/
.blockHireMe {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------------------Form contact----------------------------------------------*/
.blockWrapperContact {
    padding: 0;
    border: 2px solid #76ecfa;
    border-radius: 20px;
    color: #fff;
}

.formSize {
    width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
@media (max-width: 730px) {
    .formSize {
        width: 500px;
    }
}
@media (max-width: 630px) {
    .formSize {
        width: 400px;
    }
}
@media (max-width: 530px) {
    .formSize {
        width: 300px;
    }
}
@media (max-width: 430px) {
    .formSize {
        width: 200px;
    }
}

/*-----------------------------------------------Footer----------------------------------------------*/
.footer {
    background-color: #76ecfa;
    padding: 30px;
    text-align: center;
}
.footer:last-child {
    line-height: 1.5em;
}
