.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 25, 41);
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}